---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/home01.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1 class="editable">Droga do bezpiecznej przyszłości</h1>
            <p class="subtext editable">Cybrivium Cybersecurity Academy - Twoja tarcza w świecie cyfrowym. Chronimy to, co najcenniejsze.</p>
            <div class="cta button alt"><a href="#">Join Now</a></div>
        </div>
    </div>
    <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
    <section class="info" id="learn-more">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">Poznaj podstawy cyberbezpieczeństwa</h2>
                <p class="editable">Zadbaj o swoje bezpieczeństwo online. Sprawdź nasze proste przewodniki i dowiedz się, jak chronić dane i unikać zagrożeń w sieci.</p>
            </div>
            <div class="image">
                <img class="editable" src="/images/home01.png" alt="Screenshot" />
            </div>
        </div>
    </section>

    <section class="info">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">Bądź na bieżąco z cyberzagrożeniami</h2>
                <p class="editable">Świat cyberbezpieczeństwa zmienia się szybko. Śledź nasze aktualizacje, aby być zawsze na bieżąco i o krok przed cyberatakami.</p>
            </div>
            <div class="image">
                <img class="editable" src="/images/home02.png" alt="Screenshot" />
            </div>
        </div>
    </section>

    <section class="info">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">Zadbaj o swoją cyfrową przyszłość</h2>
                <p class="editable">Cyberbezpieczeństwo to nie tylko ochrona, ale inwestycja w przyszłość. Odkrywaj z nami, jak technologie i wiedza mogą zwiększyć Twoje bezpieczeństwo w sieci. Pozostań świadomy, bądź przygotowany.</p>
            </div>
            <div class="image">
                <img class="editable" src="/images/home03.png" alt="Screenshot" />
            </div>
        </div>
    </section>

    <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
        <div class="inner-hero text-container">
            <div class="hero-text-container">
                <h2 class="editable">Dołącz do społeczności</h2>
                <p class="subtext editable">Razem budujemy bezpieczniejszy internet. Dołącz do nas, dziel się wiedzą i ucz się, jak lepiej chronić siebie i innych.</p>
                <div class="cta button alt"><a href="#">Join Now</a></div>
            </div>
        </div>
    </section>
</div>
